<hello name="{{ name }}"></hello>

<form #exampleForm="ngForm" [appFormValidator]="exampleForm" (formSubmit)="submit()">
  <app-input
    class="container__input"
    name="fName"
    type="text"
    labelText="First Name"
    [form]="exampleForm"
    [(ngModel)]="user.fName"
    [required]="true">
  </app-input>

  <app-input
    class="container__input"
    name="lName"
    type="text"
    labelText="Last Name"
    [form]="exampleForm"
    [(ngModel)]="user.lName"
    [required]="true">
  </app-input>

  <app-input
    class="container__input"
    name="age"
    type="number"
    labelText="Age"
    infoText="Select age between 18 - 99"
    [appMinValidator]="18"
    [appMaxValidator]="99"
    [form]="exampleForm"
    [(ngModel)]="user.age"
    [required]="true">
  </app-input>

  <app-input
    name="gender"
    type="select"
    labelText="Gender"
    optionValueKey="id"
    optionLabelKey="name"
    [form]="exampleForm"
    [(ngModel)]="user.gender"
    [required]="true"
    [selectOptions]="genders">
  </app-input>

  <button type="submit" class="button">SUBMIT</button>

</form>
